<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <title>Промена на лозинка</title>
</head>
<body>
<div class="container" style="padding-left: 300px; padding-right: 300px; padding-top: 50px; padding-bottom: 100px">
        <form method="post">

            <div class="form-group">
                <label class="col-form-label" for="oldPassword">Стара лозинка: </label>
                <input class="form-control" id="oldPassword" type="password" name="oldPassword">
            </div>

            <div class="form-group">
                <label class="col-form-label"  for="newPassword">Нова лозинка: </label>
                <input class="form-control" id="newPassword" type="password" name="newPassword">
            </div>

            <input class="btn btn-success" type="submit" value="Промени лозинка">

        </form>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>