<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Промена на лозинка</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <label for="oldPassword">Стара лозинка: </label>
            <input id="oldPassword" type="password" name="oldPassword">

            <label for="newPassword">Нова лозинка: </label>
            <input id="newPassword" type="password" name="newPassword">

            <input type="submit" value="Промени лозинка">
        </form>
    </div>
</body>
</html>