<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Најава</title>
</head>
<body>
    <div class="container">
        <h1>Најави се</h1>
        <form method="post" action="login">

            <label for="email">Електронска пошта: </label>
            <input id="email" type="email" name="username">

            <label for="password">Лозинка: </label>
            <input id="password" type="password" name="password">

            <label for="rememberme">Запомни ме: </label>
            <input id="rememberme" type="checkbox" value="true" name="remember-me">

            <input type="submit" value="Најави се">
        </form>
    </div>
</body>
</html>