<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
</head>
<body>
<div class="container" style="padding-left: 300px; padding-right: 300px; padding-top: 50px; padding-bottom: 100px">

    <h2>Регистрација на корисник</h2>

    <form th:object="${user}" method="POST" enctype="utf8">
        <div class="form-group">
            <label class="col-form-label" for="firstName">Име: </label>
            <input class="form-control" th:field="*{firstName}" id="firstName"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="lastName">Презиме: </label>
            <input class="form-control" id="lastName" th:field="*{lastName}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="email">Електронска пошта: </label>
            <input class="form-control" id="email" type="email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="password">Лозинка: </label>
            <input class="form-control" id="password" type="password" th:field="*{password}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="confirmPassword">Потврди лозинка: </label>
            <input class="form-control" id="confirmPassword" type="password" th:field="*{matchingPassword}"/>
        </div>
        <button class="btn btn-info" type="submit">Регистрирај се</button>
    </form>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>